.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;
}

.app {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.dialogo {
  width: 20rem;
  min-height: 7rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 72rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.circle {
  border: 2px solid black;
  position: absolute;
  border-radius: 2rem;
  background-color: white;
}

.circle1 {
  width: 2rem;
  height: 2rem;
  top: 16.5rem;
  left: 69rem;
}

.circle2 {
  width: 1.5rem;
  height: 1.5rem;
  top: 19rem;
  left: 67rem;
}

.circle3 {
  width: 1rem;
  height: 1rem;
  top: 22rem;
  left: 65rem;
}

.continue_button {
  all: unset;
  font-size: 1.1rem;
  background-color: transparent;
  color: white;
  font-weight: bold;
  transition: all 300ms;
  cursor: pointer;
  width: 2rem;
}

.finish_button {
  all: unset;
  font-size: 1.1rem;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 2rem;
  background-color: #330000;
  color: white;
  font-weight: bold;
  transition: all 300ms;
  cursor: pointer;
}

.continue_button:hover {
  transform: scale(1.1);
}

/* =========================================== */

.destinos_main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form_section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.sitios_input {
  all: unset;
  width: 25rem;
  border: 2px solid white;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.fecha_input {
  all: unset;
  border: 2px solid white;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.sitios {
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fechas_div {
  height: 100vh;
  display: flex;
  align-items: center;
}

.destinos_div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.destinos_li > a {
  color: white;
  font-size: 1.3rem;
}

.finish {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 450px) {
  .app {
    flex-direction: column;
    position: unset;
    gap: 0.5rem;
  }

  .dialogo {
    position: unset;
    background: white;
    color: black;
  }

  .dialogo > p {
    background: white;
  }

  .circle {
    display: none;
  }

  .guia_img {
    width: 20rem;
  }

  .destinos_main {
    flex-direction: column;
    /* height: auto; */
  }

  .guia_img_destinos {
    width: 10rem;
  }

  .formulario {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .form_section {
    gap: 2rem;
    align-items: center;
  }

  .label {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .sitios_input {
    width: 23rem;
  }
}
